* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.first-page {
  position: relative;
  width: 100%;

  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./cyber-brain-gcf09c92e0_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  position: relative;
  max-width: 100px;
}
.baslik {
  position: relative;
  display: flex;
}

nav a {
  display: inline-block;
  color: rgb(247, 247, 253);
  font-weight: 500;
  margin-left: 40px;
  text-decoration: none;
  text-transform: uppercase;
}
.brand {
  color: rgb(209, 209, 222);
  font-weight: bold;
  position: absolute;
  font-family: fantasy;
  font-size: xx-large;
  font-weight: 30;
  padding: 30px 100px;
}
.second-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 19, 45);
  opacity: 0.8;

  background-size: cover;
}
.end {
  height: 15px;
  background-color: black;
}
.end-text {
  color: white;
  font-size: small;
  font-weight: 100;
}
a:hover {
  color: white;
  font-weight: bold;
  text-decoration: double;
}

.media {
  position: absolute;
  top: 70%;
  right: 30px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.media a {
  display: inline-block;
  margin: o 5px;
  cursor: pointer;
  transition: 0.5s;
}
.media a img {
  max-width: 60px;
  max-height: 60px;
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
}

.media a:hover {
  transform: translateY(-20px);
}
.sidebar {
  position: relative;
  margin-left: -5%;
  margin-top: 30%;
}
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 20px;

  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: white;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0c084a,
      0 0 40px #0c084a, 0 0 50px #0c084a, 0 0 60px #0c084a, 0 0 70px #0c084a;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #0c084a, 0 0 40px #0c084a,
      0 0 50px #0c084a, 0 0 60px #0c084a, 0 0 70px #0c084a, 0 0 80px #0c084a;
  }
}
.sidebar-dot {
  list-style: none;
}
